BEGIN:VCALENDAR
PRODID:-//Microsoft Corporation//Outlook 14.0 MIMEDIR//EN
VERSION:2.0
METHOD:REQUEST
BEGIN:VTIMEZONE
TZID:China Standard Time
BEGIN:STANDARD
DTSTART:16010101T000000
TZOFFSETFROM:+0900
TZOFFSETTO:+0800
END:STANDARD
END:VTIMEZONE
BEGIN:VEVENT
#foreach( $to in $requiredParticipants) 
ATTENDEE;CN="$!to.value";RSVP=TRUE:MAILTO:$!to.key
#end
#foreach( $to in $optionalParticipants) 
ATTENDEE;ROLE=OPT-PARTICIPANT;CN="$!to.value":MAILTO:$!to.key
#end
CLASS:PUBLIC
CREATED:20170222T160000Z
DESCRIPTION:$!content
DTEND;TZID="China Standard Time":$!endTime
DTSTAMP:20160708T040439Z
DTSTART;TZID="China Standard Time":$!startTime
LAST-MODIFIED:20170103T015151Z
LOCATION:$!location
ORGANIZER;CN="$!organizer.value":MAILTO:$!organizer.key
PRIORITY:5
SEQUENCE:0
SUMMARY;LANGUAGE=zh-cn:$!subject
TRANSP:OPAQUE
UID:$uid
BEGIN:VALARM
TRIGGER:-PT15M
ACTION:DISPLAY
DESCRIPTION:Reminder
END:VALARM
END:VEVENT
END:VCALENDAR
